* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --dark: rgb(20, 20, 20);
    /* --dark: #0e0e0e; */
    --light: #fff;
}

html{
    scroll-behavior: smooth;
}

header {
    /* background-color: black; */
    /* background-image: linear-gradient(to right,black, rgb(51, 51, 51)); */
    background-color: var(--dark); 
    display: flex;
    height: 14vh;
    align-items: center;
    color: var(--light);
    /* border-bottom: hsl(0, 97%, 58%) solid 4px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    width: 100%;
    /* scroll-margin-top: 14vh; */
}

.logo-container {
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    flex: 1;
    margin-left: 60px;
    letter-spacing: 4px;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
}

.logo-container a{
    color: var(--light);
    text-decoration: none;
}

h1 {
    margin-left: 35px;
}

nav {
    /* background-color: red; */
    flex: 1;
    margin-right: 75px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
}

.nav-links a {
    color: var(--light);
    letter-spacing: 2px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 90px;
}

#home-nav:hover{
    color: hsl(358, 71%, 47%);
}
#about-nav:hover{
    color: hsl(193, 59%, 57%);
}
#members-nav:hover{
    color: hsl(41, 97%, 53%);
}

#projects-nav:hover {
    color: hsl(120, 84%, 48%);
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.3s ease-in;
}

/* ------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--dark);
    /* background-color: rgb(30,30,30); */
    color: var(--light);
    margin-top: 14vh;
    scroll-margin-top:14vh;
}

.image {
    width: 20rem;
}

.home {
    flex-direction: row-reverse;
}

.home h2 {
    border-bottom: #cf2328 solid 2px;
}

.about h2 {
    border-bottom: hsl(193, 59%, 57%) solid 2px;
}

section {
    height: max-content;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin: 1.5rem 0;
    scroll-margin-top: 14vh;
    align-items: flex-start;
}

.image img {
    width: 100%;
    border-radius: 2rem;
    /* box-shadow: 1px 1px 10px rgb(0 0 0 / 50%); */
}


.content {
    flex: 2;
    width: 100%;
    margin: 0 2rem;
}


h2 {
    font-size: 4rem;
    letter-spacing: 4px;
}

p {
    margin: 1.3rem 0;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

section.members {
    display: flex;
    flex-direction: column;
}

.members {
    width: 100%;
}

.members h2 {
    border-bottom: rgb(252, 178, 20) solid 2px;
    width: 100%;
}

.content-members {       
    width: 100%;
    /* margin: 0 2rem; */
    padding-right: 2rem;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin: 4rem auto 0rem auto;
    max-width: 1400px;
}

.card {
    text-align: center;
    position: relative;
    /* transition: all 1s; */
    transition: all 1s cubic-bezier(0.5, 1.1, 0.5, 1.1);
    transform-style: preserve-3d;
    width: 20rem;
    height: 25rem;
    color: white;
    border-radius: 2rem;
    margin: 2.5rem 1.25rem;
}

.card-front, .card-back {
    /* display:flex;
    justify-content: space-around;
    flex-direction: column; */
    position: absolute;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 2rem;
}

.card-front {
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: all 1s cubic-bezier(0.5, 1.2, 0.5, 1.2);
}

.card-title {
    font-size: 1.5rem;
}

.card-back {
    transform: rotateY(-180deg);
    background-color: black;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    border: 3px solid rgba(252, 178, 20, 1);
    transition: all 1s cubic-bezier(0.5, 1.1, 0.5, 1.1);
    /* margin: 15px; */
    /* outline: 10px solid black; */
    /* align-items: center;
    text-align: center; */
}

.card:hover .card-front {
    transform: rotateY(180deg);
  }

  .card:hover .card-back {
    transform: rotateY(0deg);
  }

/* .card:hover {
    transform: rotateY(180deg);
} */

.card-name, .card-title {
    transform: translateZ(5rem);
}

.card-name {
    font-size: 1.8rem;
}

.card-img, .card-description {
    transform: translateZ(3rem);
}

.card-img {
    width: 12.5rem;
    margin-left: auto;
    margin-right: auto;
    height: 12.5rem;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: solid 5px rgba(252, 178, 20, 1);
}

.card-description {
    font-size: 1rem;
    margin: 10px 10px;
}

.social-links {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    transform: translateZ(3rem);
}

.social-links img{
    width: 2rem;
    height: 2rem;
    margin: 0.4rem 1rem;
    filter: invert(100%) sepia(31%) saturate(2%) hue-rotate(286deg) brightness(108%) contrast(101%);
    transition: filter 0.4s;
}

.social-links img:hover {
    /* filter: invert(80%) sepia(50%) saturate(2302%) hue-rotate(345deg) brightness(97%) contrast(103%) opacity(100%); */
    opacity: 0.5;
}

.project h2{
    border-bottom: hsl(120, 84%, 48%) solid 2px;
    width: 100%;

}

h3{
    font-size: 2.3rem;
}

.project li{
    font-size: 2.3rem;
}

.project {
    width: 100%;
    padding-right: 4rem;
}

section.project{
    display: list-item;
    list-style-type: none;
    /* padding: 0rem; */
    margin-top: 0rem;
}

.gandalf, .odin {
    height: max-content;
    display: flex;
    justify-content: space-between;
    /* padding: 2rem; */
    margin: 1.5rem 0;
    scroll-margin-top: 14vh;
    align-items: center;
}

.content {
    flex: 2;
    width: 100%;
    margin: 0 2rem;
}

.content a {
    text-decoration: none;
    color: var(--light);
}

.content a:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .logo-container {
        font-size: 1rem;
        position: absolute;
        margin-left: 0;
    }
    
    .nav-links{
        position: absolute; 
        display: flex;
        justify-content: flex-start;
        right: 0px;
        /*height: 40%;*/
        top: 14vh;        
        background-color: var(--dark);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        align-items: center;
        width: 50%;
        min-width: max-content;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 99;
        
    } 

    .nav-links li {
        padding: 1.5rem 2rem;
        opacity: 0;
    }
    
    .nav-links a {
        margin: 0px 1px !important;

    }      
    
    .burger{
        margin: 3rem;
        display: block;
    }

    section {
        padding: 0rem;
        margin: 2rem 0rem;
        flex-direction: column;
        text-align: center;
    }

    .home {
        flex-direction: column;
    }

    .image {
        width: 100%;
        margin: 0rem auto 1.5rem auto;
        max-width: 20rem;
        display: block;
    }
    
    .image img {
        width: 100%;
        border-radius: 2rem;
        /* box-shadow: 1px 1px 10px rgb(0 0 0 / 50%); */
        text-align: center;
    }    
    
    .content {
        /* flex: 2; */
        width: 100%;
        margin: 0rem;
    }
    
    
    h2 {
        font-size: 3rem;
        letter-spacing: 2.5px;
    }
    
    p {
        margin: 1.3rem 0;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .content-members {
        padding-right: 0rem;
    }

    .cards {
        margin: 1rem 0rem;
    }

    .card {
        width: 15rem;
        height: 20rem;
        margin: 1rem 0rem;
    }

    .social-links img{
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.2rem 1rem;
        filter: invert(100%) sepia(31%) saturate(2%) hue-rotate(286deg) brightness(108%) contrast(101%);
        transition: filter 0.4s;
    }

    .card-title {
        font-size: 18px;
    }

    .card-name {
        font-size: 20px;
    }

    .card-img {
        width: 10rem;
        height: 10rem;
    }

    .card-back {
        padding: 20px;
    }

    .card-description {
        font-size: 13px;
        margin: 5px 5px;
    }

    h3{
        font-size: 2rem;
    }
    
    .project li{
        font-size: 0rem;
    }
    
    .project {
        width: 100%;
        padding-right: 0rem;
    }
    
    section.project{
        display: list-item;
        list-style-type: none;
        margin-top: 0rem;
    }
    
    .gandalf, .odin {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0rem;
        margin: 0rem 0rem 3rem 0rem;
    }

    .gandalf.image {
        margin: 0rem;
        padding: 0rem;
    }
    
    .content {
        width: 100%;
        margin: 0rem 0rem;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);    
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}